<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ours.thesuperdarkfour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name=".PlanDesignerActivity"
            android:label="@string/plan_designer" >
        </activity>
        <activity
            android:name=".PowerSettingActivity"
            android:label="@string/title_activity_power_setting" >
        </activity>
        <activity
            android:name=".DimensionsActivity"
            android:label="@string/title_activity_dimensions"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ours.thesuperdarkfour.MainActivity" />
        </activity>
        <activity
            android:name=".DimensionPowersActivity"
            android:label="@string/title_activity_dimension_powers"
            android:parentActivityName=".DimensionsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ours.thesuperdarkfour.DimensionsActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
